In [227]:
import pandas as pd
import numpy as np

train_datasets= pd.read_csv('xtest.csv')
half_count = len(train_datasets) / 2
train_datasets = train_datasets.dropna(thresh=half_count,axis=1) # Drop any column with more than 50% missing values

In [228]:
train_datasets.head(5)

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend
0,1,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,May,1,1,1,1,Returning_Visitor,False
1,2,0,0.0,0,0.0,24,743.750000,0.000000,0.016667,0.0,0.0,Dec,2,2,2,2,New_Visitor,True
2,3,0,0.0,0,0.0,13,129.500000,0.015385,0.053846,0.0,0.0,Nov,2,2,3,1,Returning_Visitor,False
3,4,3,84.0,0,0.0,59,1720.422222,0.026984,0.038232,0.0,0.0,Oct,3,2,1,3,Returning_Visitor,True
4,5,0,0.0,0,0.0,13,390.500000,0.038462,0.053846,0.0,0.0,Dec,2,2,1,13,Returning_Visitor,False

In [229]:
train_datasets.shape

(1850, 18)

In [230]:
# train_datasets = train_datasets.dropna()
train_datasets.fillna(train_datasets.mean(), inplace=True)
null_counts = train_datasets.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
ID                    0
Homepage              0
Homepage _Duration    0
Aboutus               0
Aboutus_Duration      0
Contactus             0
Contactus_Duration    0
BounceRates           0
ExitRates             0
PageValues            0
SpecialDay            0
Month                 0
OperatingSystems      0
Browser               0
Province              0
TrafficType           0
VisitorType           0
Weekend               0
dtype: int64

In [231]:
train_datasets.shape

(1850, 18)

In [232]:
print("Data types and their frequency\n{}".format(train_datasets.dtypes.value_counts()))

Data types and their frequency
int64      8
float64    7
object     2
bool       1
dtype: int64

In [233]:
train_datasets_df = train_datasets.select_dtypes(include=['object'])
print(train_datasets_df.iloc[0])

Month                        May
VisitorType    Returning_Visitor
Name: 0, dtype: object

In [234]:
cols = ['Month', 'VisitorType']
for name in cols:
    print(name,':')
    print(train_datasets_df[name].value_counts(),'\n')

('Month', ':')
(May     511
Nov     467
Mar     271
Dec     245
Sep      73
Oct      73
Aug      70
Jul      62
June     44
Feb      34
Name: Month, dtype: int64, '\n')
('VisitorType', ':')
(Returning_Visitor    1591
New_Visitor           247
Other                  12
Name: VisitorType, dtype: int64, '\n')

In [235]:
mapping_dict = {'Month':
                {'Jan':1,'Feb':2,'Mar':3,'April':4,'May':5,'June':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
               }
train_datasets= train_datasets.replace(mapping_dict)

In [236]:
train_datasets.head(5)

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend
0,1,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,5,1,1,1,1,Returning_Visitor,False
1,2,0,0.0,0,0.0,24,743.750000,0.000000,0.016667,0.0,0.0,12,2,2,2,2,New_Visitor,True
2,3,0,0.0,0,0.0,13,129.500000,0.015385,0.053846,0.0,0.0,11,2,2,3,1,Returning_Visitor,False
3,4,3,84.0,0,0.0,59,1720.422222,0.026984,0.038232,0.0,0.0,10,3,2,1,3,Returning_Visitor,True
4,5,0,0.0,0,0.0,13,390.500000,0.038462,0.053846,0.0,0.0,12,2,2,1,13,Returning_Visitor,False

In [237]:
nominal_columns = ["VisitorType"]
dummy_df = pd.get_dummies(train_datasets[nominal_columns])
train_datasets = pd.concat([train_datasets, dummy_df], axis=1)
train_datasets = train_datasets.drop(nominal_columns, axis=1)

In [238]:
train_datasets.head(5)

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,Weekend,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,1,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,5,1,1,1,1,False,0,0,1
1,2,0,0.0,0,0.0,24,743.750000,0.000000,0.016667,0.0,0.0,12,2,2,2,2,True,1,0,0
2,3,0,0.0,0,0.0,13,129.500000,0.015385,0.053846,0.0,0.0,11,2,2,3,1,False,0,0,1
3,4,3,84.0,0,0.0,59,1720.422222,0.026984,0.038232,0.0,0.0,10,3,2,1,3,True,0,0,1
4,5,0,0.0,0,0.0,13,390.500000,0.038462,0.053846,0.0,0.0,12,2,2,1,13,False,0,0,1

In [239]:
train_datasets['Weekend'] = train_datasets.Weekend.astype(int)

In [240]:
train_datasets.head(10)

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,Weekend,VisitorType_New_Visitor,VisitorType_Other,VisitorType_Returning_Visitor
0,1,0,0.000000,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,5,1,1,1,1,0,0,0,1
1,2,0,0.000000,0,0.0,24,743.750000,0.000000,0.016667,0.000000,0.0,12,2,2,2,2,1,1,0,0
2,3,0,0.000000,0,0.0,13,129.500000,0.015385,0.053846,0.000000,0.0,11,2,2,3,1,0,0,0,1
3,4,3,84.000000,0,0.0,59,1720.422222,0.026984,0.038232,0.000000,0.0,10,3,2,1,3,1,0,0,1
4,5,0,0.000000,0,0.0,13,390.500000,0.038462,0.053846,0.000000,0.0,12,2,2,1,13,0,0,0,1
5,6,0,0.000000,0,0.0,12,259.500000,0.008333,0.033333,0.000000,0.0,5,2,4,6,6,0,0,0,1
6,7,3,86.333333,0,0.0,14,1256.333333,0.000000,0.023077,0.000000,0.0,11,1,1,4,2,0,0,0,1
7,8,0,0.000000,0,0.0,5,182.625000,0.000000,0.008000,0.000000,0.0,12,3,2,8,13,0,0,0,1
8,9,0,0.000000,1,0.0,50,1115.459524,0.007843,0.015686,0.000000,0.0,5,3,2,6,4,1,0,0,1
9,10,6,32.500000,2,62.5,80,1190.418903,0.005714,0.027421,7.530107,0.8,5,2,2,1,4,0,0,0,1

In [241]:
# cols = [col for col in train_datasets if col != 'Revenue']+['Revenue']
# train_datasets=train_datasets[cols]

In [242]:
# train_datasets.head(5)

In [243]:
train_datasets.to_csv("cleaned_testdataset.csv",index=False)

In [244]:
train_datasets.shape

(1850, 20)